{% extends 'base.html' %}

{% block bootstrap %}{% endblock %}

{% block title %}Hi, I'm Kevin!{% endblock %}
{% block header %}
    <h1>Hi&comma; I&apos;m Kevin&excl;</h1>
{% endblock %}

{% block content %}
    <p>
        I&apos;m a full stack developer and freelance pentester with interests in data visualization&comma; data mapping&comma; artificial intelligence&comma; self-driving cars&comma; and cyber security&period;
    </p>
    
    <ul>
        <li><a href="https://docs.google.com/document/d/1GR3DfcnqLKOM0pqA6F5CwLbJZyzEgUVwS_5WxucDC6E/edit?usp=sharing">Resume</a> on Google Docs&period;</li>
        <li><a href="https://github.com/the-ransum">Github</a> projects&period;</li>
        <li><a href="https://www.linkedin.com/in/kevinahaas">LinkedIn</a> profile&period;</li>
        <li>If you by chance like my work&comma; feel free to show support with <a href="https://www.buymeacoffee.com/kevinhaas">Buy Me a Coffee</a>&period;</li>
    </ul>
    
    <br>
    For more, check out the <a href="/dashboard">dashboard</a>.
{% endblock %}
